body {
    min-height: 100%;
}

.container-fluid, .row {
    min-height: 100%;
}

nav form {
    margin: 0;
}

.leftbar {
    background-color: #efefef;
}

.leftbar li a {
    display: block;
    text-decoration: none;
    color: dimgray;
    padding: 15px;
}

.leftbar li a:hover {
    color: white;
    background-color: darkblue;
}

.leftbar li {
    border-top: 1px solid darkgrey;
}

.leftbar li:first-child {
    border-top: none;
}

.leftbar ul {
    list-style-type: none;
    padding: 15px;
}

.selected-filter {
    background-color: darkblue;
}

.leftbar li.selected-filter a {
    color: white;
}

.main-content {
    padding: 15px;
}

.main-content table tbody tr td {
    padding: 25px;
}

.main-content table tbody tr {
    border-top: 1px solid darkgrey;
}

.main-content table tbody tr:first-child {
    border-top: none;
}

.fav-checked {
    color: red;
}